@mixin before_circle{
    &:before{
        content: '';
        position: absolute;
        display: block;
        height: 36px;
        border-radius: 100%;
        width: 36px;
        z-index: -1;
        top: -25%;
        left: 0;
        background: $main-color;
    }
}
@mixin before_mini-circle {
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: $main-color;
        top: 50%;
        left: -25px;
        transform: translateY(-50%);
    }
}