@mixin before_circle{
    &:before{
        content: '';
        position: absolute;
        display: block;
        height: 36px;
        border-radius: 100%;
        width: 36px;
        z-index: -1;
        top: -25%;
        left: 0;
        background: $main-color;
    }
}